//
// BUTTON
//

.button {
  @include background-clip(padding-box);
  @include background($button-background);
  @include border-radius($button-border-radius);

  color: $button-text-color;
  border: rem(1) solid $button-border-color;

  cursor: pointer;

  font-weight: $button-font-weight;
  font-size: $button-font-size;
  text-align: center;

  padding-left: rem(20);
  padding-right: rem(20);

  line-height: rem(30);
}

.button.active {
  @include background($button-active-background);
  color:  $button-active-text-color;
  border: rem(1) solid $button-active-border-color;
}

.button .label {
  @extend .qx-flex1;
}

.button:focus {
  outline: none;
}

