$highlight-color: #619EDF;
$highlight-color-disabled: desaturate($highlight-color, 100%);

$border-color : #bbb;
$background-color: white;

.calendar {
  table[disabled] {
    color: $highlight-color-disabled;
  }

  table {
    border-width: rem(1);
    border-color: $border-color;
    border-collapse: collapse;
    text-align: center;
    border-spacing: 0;
  }

  thead {
    border-width: rem(1);
    border-style: solid;
    border-color: $border-color;
    font-weight: bold;
  }

  thead tr:first-child td:first-child {
    border-right: 0;
    border-right-color: transparent;
  }

  thead .qx-calendar-month {
    border-left: 0;
    border-right: 0;
    border-left-color: transparent;
    border-right-color: transparent;
    text-align: center;
  }

  thead tr:first-child td:last-child {
    border-left: 0;
    border-left-color: transparent;
    text-align: right;
  }

  thead td {
    padding: rem(2) rem(6);
    width: 14.3%;
  }

  td {
    border-width: rem(1);
    border-style: solid;
    border-color: $border-color;
    background-color: $background-color;
  }

  td.selected {
    background-color: $highlight-color;
  }

  button {
    cursor: pointer;
  }

  button:focus {
    -webkit-text-stroke: rem(1) $highlight-color;
    color: $highlight-color;
  }

  td button {
    margin: 0;
    width: 100%;
    line-height: 2;
    border: none;
    background: none;
    outline: none;
  }

  td.selected button {
    color: $background-color;
  }

  td button:disabled {
    pointer-events: none;
  }

  td.selected button:focus {
    -webkit-text-stroke: 0;
    color: $background-color;
  }

  .calendar-othermonth button {
    color: $highlight-color-disabled;
  }

  .calendar-today {
    background-color: lighten($highlight-color-disabled, 30%);
  }

}

.calendar[disabled] .selected {
  background-color: $highlight-color-disabled;
}
