//
// FORM
//

.form {
  @include background-clip(padding-box);
  margin-bottom: rem(10);
  background-color:transparent;
  border: none;
  padding: 0;
  cursor:pointer;
}

.form-row {
  list-style-type: none;
  padding: rem(5) rem(0) rem(5) rem(0);

  label {
    padding-right: rem(10);
  }

  * {
    text-overflow: ellipsis;
  }
}

.form-row.form-separation-row:last-child {
  background-color:transparent;
  margin-bottom: 0px;
}

.form-row.qx-vbox input {
  width: 100%;
}

.form-row.qx-vbox * + * {
  margin-top: rem(10);
}

.form-row.qx-hbox > label,
.form-row.qx-hbox > input {
  margin: auto;
}

.text-area {
  @include background-clip(padding-box);
  @include background($input-background);
  @include border-radius($input-border-radius);
  border: rem(1) solid $input-border-color;
  resize: none;
  outline: none;

  width:100%;
  height: rem(150);
  min-height: rem(150);

  padding:rem(10);
  box-sizing:border-box;

  color:  $input-text-color;
}

.form-row-scroll {
  @include border-radius($input-border-radius);
  border: rem(1) solid $input-border-color;

  overflow:hidden !important;
  height: rem(150);
  width: 100%;

  .text-area {
    @include border-radius(0);
    border:0px solid transparent;
    background: none;
  }
}

// [BUG #7871] Bugfix for IE 10 for enabling word-wrap within a flexbox layout.
.form-row label > p {
  -ms-flex: 1;
  box-flex: 1;
}

.form-title {
  color: $group-title-text-color;
  font-weight: normal;
  line-height: rem(20);
  font-size: rem(16);
  text-indent: rem(5);
  margin-top: rem(10);
  margin-bottom: rem(10);
}

.form-element-error {
  position: absolute;
  margin-top: rem(7.5);
  padding: rem(8);
  border: rem(1) solid $form-border-color;
  background-color: $navigationpage-background;
  color: $form-label-text-color;
  text-align: left;
  font-size: rem(12);
  font-weight: 100;
}

.form-element-error:before {
  position: absolute;
  display: block;
  content: '';
  top: rem(-6.5);
  width: rem(10);
  height: rem(10);
  border-top: rem(1) solid $form-border-color;
  border-left: rem(1) solid $form-border-color;
  background-color: $navigationpage-background;
  transform: rotate(45deg);
  line-height: 0;
}

.form-group > h3 {
  font-size: rem(16);
  color: $form-title-text-color;
  font-weight:normal;
  border:none;
}

.form.single {
  font-weight: $form-font-weight;

  .text-field, .number-field, .password-field {
    display:block;
    width: 50%;
  }

  .form-group {
    margin: 0 0 rem(10) 0;
  }

  .form-group > h3 {
    margin: 0;
    padding: rem(10) rem(10) rem(10) rem(10);
  }

  .form-row {
    @include background($form-background);
    border-left:rem(1) solid $form-border-color;
    border-right:rem(1) solid $form-border-color;
  }

  .form-row .label {
    color: $form-label-text-color;
  }

  .form-row {
    padding: rem(10) rem(10) rem(10) rem(10);
  }

  // If one row is excluded: hide its separationRow
  .form-row.exclude + .form-separation-row {
    border-top: 0;
  }
}

// .form-row-group-title:nth-child(n+2) {
//   margin-top: rem(20);
// }

.form-row {
  border-bottom: rem(1) solid $form-border-color;
}

.form-row:first-of-type,
.form-row:last-of-type,
.form-row:only-of-type {
  @include background($form-background);
  padding: rem(2);
}

.form-row:first-of-type {
  @include border-radius-top($form-border-radius);
  border-top: rem(1) solid $form-border-color;
  border-left: rem(1) solid $form-border-color;
  border-right: rem(1) solid $form-border-color;
}

.form-row:last-of-type {
  @include border-radius-bottom($form-border-radius);
  border-top: 0px transparent;
  border-bottom: rem(1) solid $form-border-color;
  border-left: rem(1) solid $form-border-color;
  border-right: rem(1) solid $form-border-color;
}

.form-row:only-of-type {
  @include border-radius($form-border-radius);
  border: rem(1) solid $form-border-color;
}