//
// FORM
//

.form {
  @include background-clip(padding-box);
  margin-bottom: rem(10);
  background-color:transparent;
  border: none;
  padding: 0;
  cursor:pointer;
  font-weight: $form-font-weight;
}

// form item in scroll container TODO: Still needed?
.form-row-scroll {
  @include border-radius($input-border-radius);
  border: rem(1) solid $input-border-color;

  overflow:hidden !important;
  height: rem(150);
  width: 100%;

  .text-area {
    @include border-radius(0);
    border:0px solid transparent;
    background: none;
  }
}

.form-title {
  color: $group-title-text-color;
  font-weight: normal;
  line-height: rem(20);
  font-size: rem(16);
  text-indent: rem(5);
  margin-top: rem(10);
  margin-bottom: rem(10);
}

.form-element-error {
  width: 100%;
  text-align: right;
  font-size: rem(12);
  font-weight: 100;
  font-style: italic;
  color: red;
  padding-top: rem(5);
}

.form-group > h3 {
  margin: 0;
  padding: rem(10);
  font-size: rem(16);
  border:none;
  color: $form-title-text-color;
  font-weight:normal;
}

.form-group {
  margin: 0 0 rem(10) 0;
}

.form-row {
  @include background($form-background);
  border-left:rem(1) solid $form-border-color;
  border-right:rem(1) solid $form-border-color;
  border-bottom: rem(1) solid $form-border-color;
  padding: rem(10);

  @include flex-wrap(wrap);

  .label {
    padding-right: rem(10);
    color: $form-label-text-color;
  }

  * {
    text-overflow: ellipsis;
  }

  // [BUG #7871] Bugfix for IE 10 for enabling word-wrap within a flexbox layout.
  .label > p {
    -ms-flex: 1;
    box-flex: 1;
  }

}

.form-row:first-of-type,
.form-row:last-of-type,
.form-row:only-of-type {
  @include background($form-background);
}

.form-row:first-of-type {
  @include border-radius-top($form-border-radius);
  border-top: rem(1) solid $form-border-color;
  border-left: rem(1) solid $form-border-color;
  border-right: rem(1) solid $form-border-color;
}

.form-row:last-of-type {
  @include border-radius-bottom($form-border-radius);
  border-top: 0px transparent;
  border-bottom: rem(1) solid $form-border-color;
  border-left: rem(1) solid $form-border-color;
  border-right: rem(1) solid $form-border-color;
}

.form-row:only-of-type {
  @include border-radius($form-border-radius);
  border: rem(1) solid $form-border-color;
}

.form-row.qx-vbox input {
  width: 100%;
}

.form-row.qx-vbox * + * {
  margin-top: rem(10);
}

.form-row.qx-hbox > label,
.form-row.qx-hbox > input {
  margin: auto;
}

.text-field, .number-field, .password-field {
  display:block;
  width: 50%;
}

.text-area {
  @include background-clip(padding-box);
  @include background($input-background);
  @include border-radius($input-border-radius);
  border: rem(1) solid $input-border-color;
  resize: none;
  outline: none;

  width:100%;
  height: rem(150);
  min-height: rem(150);

  padding:rem(10);
  box-sizing:border-box;

  color:  $input-text-color;
}