
//
// SELECTBOX
//

.selectbox {
  @extend .qx-hbox;
  @extend .qx-flex-align-center;

  @include user-select(none);
  @include border-radius($selectbox-border-radius);
  @include background($selectbox-background);

  cursor:pointer;

  vertical-align:middle;
  height: rem(32);

  text-indent: rem(5);

  border: rem(1) solid $selectbox-border-color;
  color: $selectbox-text-color;

  position: relative;
  padding: $selectbox-header-padding;

  font-family: $application-font;
  font-size: rem(15);
}

.selectbox:after {
  @include triangle-down($selectbox-arrow-size, $selectbox-arrow-color);

  position: absolute;
  top: 50%;
  right: rem(9);
  margin-top:-1*($selectbox-arrow-size)/2;
  display:block;
  content: "";
}

.selectbox-selected > div > .list-itemlabel {
  position:relative;
}

.selectbox-selected > .list-itemimage, .selectbox-unselected > .list-itemimage  {
  display:none;
}

.selectbox.active {
  @include background($selectbox-active-background);
  color: $selectbox-active-text-color;
}

.selectbox.active:after {
  @include triangle-down($selectbox-arrow-size, $selectbox-arrow-color);
}

.selectbox-selected {
  @include background($selectbox-item-selected-background);
  color: $selectbox-item-selected-text-color !important;
}