#
# All directories
#
# Please comment on purpose.

# Emacs backup files
*~

# SASS chaces
.sass-cache

# SDK build dir
/release/

# Python bytecode
*.pyc
*.pyo

# OSX file system
.DS_Store

# Eclipse
/.project
/.pydevproject
/.settings

# WebStorm
/.idea

# Build & test infrastructur
/build.log

# CSS compiler
/framework/source/resource/qx/scss/.sass-cache/

# node/npm
node_modules/
npm-debug.log
