<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Next Tests</title>
  <link rel="stylesheet" href="node_modules/mocha/mocha.css" />
  <link rel="stylesheet" href="build/resource/qx/css/indigo.css" />
  <style type="text/css">
    body {
      overflow: auto;
    }
  </style>
</head>
<body>
  <div id="mocha"></div>
  <div id="messages"></div>
  <div id="fixtures"></div>
  <script src="node_modules/chai/chai.js"></script>
  <script src="node_modules/mocha/mocha.js"></script>
  <script src="sinon-1.11.1.js"></script>
  <!-- <script src="build/script/q-all.js"></script> -->
  <script src="build/script/core.js"></script>
  <script src="build/script/animation.js"></script>
  <script src="build/script/blocker.js"></script>
  <script src="build/script/cookie.js"></script>
  <script src="build/script/dataset.js"></script>
  <script src="build/script/dev.js"></script>
  <script src="build/script/io.js"></script>
  <script src="build/script/matchmedia.js"></script>
  <script src="build/script/messaging.js"></script>
  <script src="build/script/placement.js"></script>
  <script src="build/script/rest.js"></script>
  <script src="build/script/routing.js"></script>
  <script src="build/script/storage.js"></script>
  <script src="build/script/textselection.js"></script>
  <script src="build/script/transform.js"></script>
  <script src="build/script/template.js"></script>
  <script src="build/script/ui.js"></script>
  <script src="build/script/util.js"></script>
  <script src="setup.js"></script>
  <!-- injector:js -->
  <!-- endinjector -->
</body>
</html>
