@import "common/all";
@import "styles";
@import "ui/all";

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Lucida Grande', 'DejaVu Sans', Verdana, sans-serif;
  background-color: rgb(244, 244, 244) !important;
}

.header {
  background-image: linear-gradient(to bottom, #505154, #323335);
  color: white;
}

.header h1 {
  margin: 10px;
  display: inline-block;
}

.header #version-label {
  float: right;
  margin: 20px;
  display: inline-block;
}

.header .decoration {
  height: 10px;
  background-image: linear-gradient(to bottom, #5583d0, #5583d0 1px, #3d72c9 1px, #3d72c9);
}


#toolbar > * {
  display: inline-block;
  margin: 10px 10px 0 10px;

}

.play-content {
  padding: 10px !important;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 112px;
}

.play-content #playarea {
  border: 1px solid #ddd;
  overflow: hidden;
}


.play-content #editor {
  margin: 0 10px 0 0;
  width: 50%;
  height: 100%;
  border: 1px solid #ddd;
}

