.qx-tabbar {
  padding-top: $tabbar-button-distance;
  padding-left: $tabbar-button-distance;
  padding-right: $tabbar-button-distance;

  .button + .button {
    margin-left: $tabbar-button-distance;
  }

  .button {
    @include background($tabbar-inactive-background);
    @include border-radius-top($tabbar-border-radius);
    @include border-radius-bottom(0);
    @include background-clip(padding-box);
    @include box-sizing(border-box);

    padding: 0 rem(12);

    color:  $tabbar-inactive-text-color;

    line-height:  $tabbar-height - $tabbar-button-distance;
    font-weight: normal;
    font-size: rem(16);

    cursor: pointer;

    text-align: center;

    $tab-button-border: rem(1) solid $tabbar-inactive-border-color;
    border-top: $tab-button-border;
    border-left: $tab-button-border;
    border-right: $tab-button-border;
  }

  .selected {
    @include background($tabbar-active-background);
    border: rem(1) solid $tabbar-active-border-color;
    border-bottom: 0px solid transparent;
  }

  .button.qx-flex1 {
    text-align: center;
  }
}

.qx-tabbar.qx-hbox {
  border-bottom: rem(3) solid $tabbar-divider-color;
}

.qx-tabbar.qx-vbox {
  .button {
    @include border-radius(0);
  }
}
