$highlight-color: #619EDF;
$highlight-color-disabled: desaturate($highlight-color, 100%);

$border-color : #bbb;
$background-color: white;
$application-font-size: 100%;

.qx-tabs {
  padding-top: $tabbar-button-distance;
  padding-left: $tabbar-button-distance;
  padding-right: $tabbar-button-distance;
  border-bottom: rem(3) solid $tabbar-divider-color;

  .qx-tabs-button + .qx-tabs-button {
    margin-left: $tabbar-button-distance;
  }
}

.qx-tabs-button {
  @include background($tabbar-inactive-background);
  @include border-radius-top($tabbar-border-radius);
  @include border-radius-bottom(0);
  @include background-clip(padding-box);
  @include box-sizing(border-box);

  padding: 0 rem(12);

  color:  $tabbar-inactive-text-color;

  line-height:  $tabbar-height - $tabbar-button-distance;
  font-weight: normal;
  font-size: rem(16);

  cursor:pointer;

  text-align: center;

  $tab-button-border: rem(1) solid $tabbar-inactive-border-color;
  border-top: $tab-button-border;
  border-left: $tab-button-border;
  border-right: $tab-button-border;
}

.qx-tabs .qx-tabs-button-active {
  @include background($tabbar-active-background);
  border: rem(1) solid $tabbar-active-border-color;
  border-bottom: 0px solid transparent;
}

.qx-tabs-page {
  padding: rem(10);
  @include user-select(text);
  background-color: white;
}

// horizontal orientation:

.qx-tabs-horizontal > .qx-tabs-container {
  clear: both;
  border: rem(1) solid $border-color;
}

.qx-tabs-horizontal .qx-tabs-button.qx-flex1 {
  text-align: center;
}

// vertical orientation:

.qx-tabs-vertical {
  border-right: rem(1) solid $border-color;
  border-bottom: rem(1) solid $border-color;
  border-left: rem(1) solid $border-color;
}

.qx-tabs-vertical .qx-tabs-button {
  margin-left: 0;
  @include border-radius(0);
}

.qx-tabs-vertical .qx-tabs-button > button {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: left;
}

.qx-tabs-vertical .qx-tabs-page {
  overflow: hidden;
  @include box-sizing(border-box);
  padding: rem(8) rem(12);
}
